:root{
    --coler1 :#000000;
    --coler2 :#ffffff;
    --coler3 :#ff0000;
}

body{
    width: 200px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

button{
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: none;
    background-color: var(--coler3);
}

h1{
    text-align: center;
    color: var(--coler1);
    position: absolute;
    top: 30%;
    transform: translateY(-30%);
    left: -30;
    transform: translateX(30%);
}
h2{
    text-align: center;
    color: var(--coler1);
    position: absolute;
    top: 60%;
    transform: translateY(-60%);
    left: 50%;
    transform: translateX(-50%);
}
